*{
	box-sizing: border-box;
}

body{
	background-image: url('proxy.duckduckgo.com.png');
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

img{
	max-width: 100%;
	height: auto;
}

nav{
	background-color: rgb(255, 132, 10);
	color: white;
	border: none;
	font-weight: bold;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

nav li:hover{
	background-color: rgb(255, 160, 66);
}

.judul {
	color: rgb(255, 253, 208);
	font-weight: bold;
	font-size: 72px;
	border-left: 5px solid red;
	padding: 10px;
}

.konten {
	background-color: orange;
}

.iconContact {
	width: 20px;
}

footer{
	color: black;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
}