*{
	box-sizing: border-box;
}

body{
	background-image: url('proxy.duckduckgo.com.png');
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

img{
	max-width: 100%;
	height: auto;
}

nav{
	background-color: rgb(255, 132, 10);
	color: white;
	border: none;
	font-weight: bold;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	position: -webkit-sticky; /*Untuk Safari >= 6.1*/
	position: sticky;
}

nav li:hover{
	background-color: rgb(255, 160, 66);
}

.bagan{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	widows: 150px;
	background-color: #ddd;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.navigasiKonten{
	background-color: rgb(255, 132, 10);
	padding: 10px;
	margin: 10px;
	width: 15%;
	height: auto;
	overflow: auto;
	border-left: 3px solid red;
}

footer{
	color: black;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
}